body {
    background-image: url(sources/pictures/backgroundtilepng.png);
    background-repeat: repeat;
    background-size: 37%;
    background-position: center;
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

.howthevalleyrolls {
    background-image: url(sources/pictures/howthevalleyrollsbackground.png);
    background-repeat: repeat;
    background-size: 37%;
    background-position: center;
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 2rem;
}

.tracklist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.list{
    list-style: none;
}

.albumart {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.albumart:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
}

.pageart {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.playButton {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}

.backButton {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;

}   

.poem {
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}